.loader__wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.321);
  padding-bottom: 300px;
  .loader {
    width: 200px;
    height: 200px;
    background: url("./Preloader.svg") 0 0 / contain no-repeat;
    animation: 2s rotate linear infinite;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
